<ion-content class="ion-padding">
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="filterPosts()" placeholder="Pesquisar por posts ou usuários"></ion-searchbar>
  <ion-card>
    </ion-card>

  <ion-list>
    <ion-card *ngFor="let post of filteredPosts">
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img [src]="post.user?.profile_picture_url || 'assets/default_avatar.png'" />
        </ion-avatar>
        <ion-label>
          <h3>{{ post.user?.name }}</h3>
          <p>{{ post.created_at | date:'medium' }}</p>
        </ion-label>
      </ion-item>
      
      <ion-card-content>
        <p>{{ post.content }}</p>
        </ion-card-content>
      
      <ion-item>
        <ion-input [(ngModel)]="post.newComment" placeholder="Escreva um comentário..."></ion-input>
        <ion-button slot="end" (click)="submitComment(post, post.newComment)">
          <ion-icon name="send-outline"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-list *ngIf="post.comments && post.comments.length > 0">
        <ion-item *ngFor="let comment of post.comments">
          <ion-label>
            <h4>{{ comment.user.name }}</h4>
            <p>{{ comment.content }}</p>
          </ion-label>
        </ion-item>
      </ion-list>

    </ion-card>
  </ion-list>
</ion-content>